<!--
  Generated template for the QrStudentPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Enviar</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <div *ngIf="!createdCode">
    <!-- <ion-card>
      <h3 class="instructions">Pon la información aqui, y le deja a la otra persona que escanea el código</h3>
      <h1>Pon el monto que quieres pagar:</h1>
      <ion-card-content>
        <ion-input text-center type="number" min="0" inputmode="numeric" pattern="[0-9]*" title="Non-negative integral number" [(ngModel)]="amount"></ion-input>
      </ion-card-content>
    </ion-card> -->
    <!-- <ion-card>
      <ion-item>
        <ion-label floating>This payment will be for what date?</ion-label>
        <ion-select [(ngModel)]="selectedDate" (ionChange)="selectPeriod($event)" interface="action-sheet">
          <ion-option *ngFor="let period of options" value="{{period}}">{{period}}</ion-option>
        </ion-select>
      </ion-item>
      <h2>{{selectedDate}}</h2>
    </ion-card> -->
    <button ion-button full (click)="enterVal()">Crear código para recibir dinero</button>
  </div>

  <ion-card *ngIf="createdCode">
      <button ion-button full (click)="print()">Imprimir Código</button>
    <ngx-qrcode [qrc-value]="createdCode"></ngx-qrcode>
    <ion-card-content>
      <p></p>
      <p>El cliente debe escanear este código para que puedas recibir dinero. </p>
    </ion-card-content>
    <button ion-button full (click)="done()">Hecho</button>
    <h2 class="invisible" (click)="cheat()">#####################</h2>
  </ion-card>


</ion-content>
