
    page-qr-student {
    // input[type=number]:before {
    //     content: "$";
    // }

    // .instructions {
    //     margin-bottom: 5%;
    //     text-align:center;
    // }
    
    // .input{
    //     font-size: 2.0em;
    //     color: color($colors, danger);
    //     text-align:center;
    // }

    p{
        margin:0px;
    }

    .invisible{
        color:white;
    }


}
