<!--
  Generated template for the TablePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{name}}</ion-title>
  </ion-navbar>

</ion-header>



<ion-content >
  <div class = "steps_table_container">
  <table border="1" >
      <tr>
        <th>#</th>
        <th>Beats</th>
        <th>Description</th>
      </tr>
      <ng-container *ngFor="let gut of tableguts;">
        <tr>
          <th>{{gut[0]}}</th>
          <th>{{gut[1]}}</th>
          <th>{{gut[2]}}</th>
        </tr>
      </ng-container>
    </table>
  </div>
</ion-content>
