<!--
  Generated template for the RestrictVideoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Enable Routines</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>


  <div>
    <p class = "header">These students will have their routines updated:</p>
    <ion-scroll class="scrollerName" scrollY="true">
      <ion-list scroll="true">
        <ion-item *ngFor="let item of target">
          <div>{{item.displayName}}</div>
        </ion-item>
      </ion-list>
    </ion-scroll>
  </div>

<ion-scroll class="scrollerSelect" scrollY="true">
  <ion-item>
    <ion-label> 1st Routine </ion-label>
    <ion-toggle [(ngModel)]="toggles[0]" checked="false" (ionChange)="restrictIt()"></ion-toggle>
  </ion-item>
  <ion-item>
    <ion-label> 2nd Routine </ion-label>
    <ion-toggle [(ngModel)]="toggles[1]" checked="false" (ionChange)="restrictIt()"></ion-toggle>
  </ion-item>
  <ion-item>
    <ion-label> 3rd Routine </ion-label>
    <ion-toggle [(ngModel)]="toggles[2]" checked="false" (ionChange)="restrictIt()"></ion-toggle>
  </ion-item>
  <ion-item>
    <ion-label> 4th Routine </ion-label>
    <ion-toggle [(ngModel)]="toggles[3]" checked="true" (ionChange)="restrictIt()"></ion-toggle>
  </ion-item>
  <ion-item>
    <ion-label> 5th Routine </ion-label>
    <ion-toggle [(ngModel)]="toggles[4]" checked="false" (ionChange)="restrictIt()"></ion-toggle>
  </ion-item>
  <ion-item>
    <ion-label> 6th Routine </ion-label>
    <ion-toggle [(ngModel)]="toggles[5]" checked="false" (ionChange)="restrictIt()"></ion-toggle>
  </ion-item>
  <ion-item>
    <ion-label> 7th Routine </ion-label>
    <ion-toggle [(ngModel)]="toggles[6]" checked="false" (ionChange)="restrictIt()"></ion-toggle>
  </ion-item>
  <ion-item>
    <ion-label> 8th Routine </ion-label>
    <ion-toggle [(ngModel)]="toggles[7]" checked="false" (ionChange)="restrictIt()"></ion-toggle>
  </ion-item>
  <ion-item>
    <ion-label> 9th Routine </ion-label>
    <ion-toggle [(ngModel)]="toggles[8]" checked="false" (ionChange)="restrictIt()"></ion-toggle>
  </ion-item>
  <ion-item>
    <ion-label> 10th Routine </ion-label>
    <ion-toggle [(ngModel)]="toggles[9]" checked="false" (ionChange)="restrictIt()"></ion-toggle>
  </ion-item>
  <ion-item>
    <ion-label> 11th Routine </ion-label>
    <ion-toggle [(ngModel)]="toggles[10]" checked="false" (ionChange)="restrictIt()"></ion-toggle>
  </ion-item>
  <ion-item>
    <ion-label> 12th Routine </ion-label>
    <ion-toggle [(ngModel)]="toggles[11]" checked="false" (ionChange)="restrictIt()"></ion-toggle>
  </ion-item>
  <ion-item>
    <ion-label> 13th Routine </ion-label>
    <ion-toggle [(ngModel)]="toggles[12]" checked="false" (ionChange)="restrictIt()"></ion-toggle>
  </ion-item>
  <ion-item>
    <ion-label> 14th Routine </ion-label>
    <ion-toggle [(ngModel)]="toggles[13]" checked="false" (ionChange)="restrictIt()"></ion-toggle>
  </ion-item>
  <ion-item>
    <ion-label> 15th Routine </ion-label>
    <ion-toggle [(ngModel)]="toggles[14]" checked="false" (ionChange)="restrictIt()"></ion-toggle>
  </ion-item>

</ion-scroll>

</ion-content>
