page-landing {


    ion-icon {
        font-size:3.2em;
        color: color($colors,secondary); // icon
    }
    p{
        margin-top:0;
        color: color($colors,third); //words
        font-size: 5vw;
    }

    .button_box{
        width: 40vw;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .flex_container{
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        height:80vh;
    }

    .main_container{
        background-color: color($colors,light);
    }

    .button-large-md {
        height: 25vh;
        width: 40vw;
        font-size: 5vh;
        border-radius: 20px;
        //background-color: color($colors,fourth);
        // border-width:5px;
        // border-color:color($colors,primary);
    }
    .button-large-ios {
        height: 25vh;
        width: 40vw;
        font-size: 5vh;
        border-radius: 20px;
        //background-color: color($colors,third);
        // border-width:5px;
        // border-color:color($colors,primary);
    }

}
