<!--
  Generated template for the LandingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Que Harás?</ion-title>
  </ion-navbar>

</ion-header>
<ion-content padding class="main_container">
  
  
    <div class = "flex_container">
      <div class="button_box">
        <button color="fourth" ion-button large [disabled]="disable_button" (click)="gotoSend()">
          <div>
          <ion-icon name="md-log-out"></ion-icon>
          <p>Enviar Dinero</p>
        </div>
        </button>
      </div>

      <div class="button_box">
        <button color="fourth" ion-button large [disabled]="disable_button" (click)="gotoReceive()">
          <div>
          <ion-icon name="md-log-in"></ion-icon>
          <p>Recibir Dinero</p>
        </div>
        </button>
      </div>
      <div class="button_box">
        <button color="fourth" ion-button large [disabled]="disable_button" (click)="gotoUpdate()">
          <div>
          <ion-icon name="cog"></ion-icon>
          <p>Admin</p>
        </div>
        </button>
      </div>
    
      <div class="button_box">
        <button color="fourth" ion-button large [disabled]="disable_button" (click)="signOut()">
          <div>
            <ion-icon name="power"></ion-icon>
          <p>Desconectar</p>
          </div>
        </button>
      
      </div>
      <!-- <div class="button_box">
        <button color="fourth" ion-button large [disabled]="disable_button" (click)="showVersion()">
          <div>
          <ion-icon name="git-compare"></ion-icon>
          <p>Version</p>
        </div>
        </button>
      </div>
      <div class="button_box" *ngIf="!admin">
        <button color="fourth" ion-button large [disabled]="disable_button" (click)="showRequestAccess()">
          <div>
          <ion-icon name="key"></ion-icon>
          <p>Request Access</p>
        </div>
        </button>
      </div> -->
    </div>
    </ion-content>
