page-forgot-password {
  .alert {
    background: rgb(219, 216, 216);
    margin: 10px;
    display: inline-block;
    animation: 2s alertAnim forwards;
    font-family: raleway;
    border-radius: 10px;
  }

  @keyframes alertAnim {
    from {
      opacity: 0;
      transform: translateY(-20px) translateX(10px);
    }
    to {
      opacity: 1;
      transform: translateY(0) translateX(30px);
    }
  }

  .formContainer {
    margin-top: 30%;
    padding: 5%;
  }

  .button-container {
    text-align: center;
    padding: 20%;
  }
}
