<!--
  Generated template for the SignUpPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Forgotten Password</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div class="formContainer">
    <p>Please enter in the email address that you used to create the original account.  We'll email you a link to reset the password.</p>
    <form [formGroup]="todo" (ngSubmit)="submitted(todo.value)">
      <ion-item>
        <ion-label>email</ion-label>
        <ion-input type="text" formControlName="email_form" [(ngModel)]="email_var"></ion-input>
      </ion-item>
      <div class="alert" *ngIf="!todo.controls['email_form'].valid">A valid email address is required</div>
      <div class="button-container">
        <button ion-button type="submit" [disabled]="!todo.valid">Submit</button>
      </div>
    </form>
  </div>
</ion-content>