<!--
  Generated template for the QrCodeStuffPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>QRCodeStuff</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<ion-item>
  <ion-input type="tel" pattern="[0-9]*" Placeholder="My QR Data" [(ngModel)]="qrData" ></ion-input> 
</ion-item>
<button ion-button full icon-left (click)="createCode()"><ion-icon name="barcode"></ion-icon>Create Code</button>
<button ion-button full icon-left (click)="scanCode()"><ion-icon name="qr-scanner"></ion-icon>Scan Code</button>

<ion-card *ngIf="createdCode">
<ngx-qrcode [qrc-value]="createdCode"></ngx-qrcode>
<ion-card-content>
  <p>Value: {{createdCode}}</p>
</ion-card-content>
</ion-card>

<ion-card *ngIf="scannedCode">
  <ion-card-content>
    Result from Scan: {{scannedCode}}
  </ion-card-content>
</ion-card>
</ion-content>
