<!--
  Generated template for the FonaTestPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>
      <div class="flexing">
        <button class="toggle" ion-button (click)="toggleMenu()">Toggle Menu</button>
      </div>
    </ion-title>
    <!-- <span class = "tags" *ngFor="let search of addedSearches;" tappable (click)="eraseTag(search, true)"><ion-icon name="ios-close"></ion-icon>{{search}} <span class="trans" >&nbsp;&nbsp;</span></span> -->


  </ion-navbar>
  <div *ngIf="addedSearches.length>0" class="White">
    <span class="tags" *ngFor="let search of addedSearches;">
      <button small ion-button (click)="eraseTag(search, true)">
        <ion-icon name="ios-close">
        </ion-icon>{{search}}
      </button>
      <span class="trans">
      </span>
    </span>
  </div>


  <div class="menu" *ngIf="menu">

    <span id="shrink">
      <ion-item>
        <ion-label fixed>
          <p>Form</p>
        </ion-label>
        <!-- <ion-select [(ngModel)]="selectedForm" (ionChange)="selectForm($event)" interface="action-sheet"> -->
        <ion-select [(ngModel)]="selectedForm" (ionChange)="selectForm($event)">
          <ion-option *ngFor="let phys_form of phys_forms" value="{{phys_form}}">{{phys_form}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label fixed>
          <p>Flavor Profile</p>
        </ion-label>
        <!-- <ion-select [(ngModel)]="selectedProfile" (ionChange)="selectProfile($event)" interface="action-sheet"> -->
        <ion-select [(ngModel)]="selectedProfile" (ionChange)="selectProfile($event)">
          <ion-option *ngFor="let profile of profiles" value="{{profile}}">{{profile}}</ion-option>
        </ion-select>
      </ion-item>
      <div class="search_bar">
        <ion-searchbar spellcheck="true" placeholder="descriptors" [(ngModel)]="searchInput" block color="primary" [debounce]="200"
          (click)="saveInputResults()" (ionInput)="getItems($event)"></ion-searchbar>
        <button ion-button (click)="addSearch()">+Filter</button>
      </div>
      <ion-item class="center">
        <button ion-button (click)="reset()">Reset All Filters</button>
      </ion-item>
    </span>
  </div>
</ion-header>



<ion-content padding [ngClass]="(resultsArray?.length==0) ? 'noResult': 'fine'">

  <div class="empty" *ngIf="resultsArray?.length==0">
    <p class="emptyChild">NO RESULTS
      <p></p>
  </div>
  <ion-card *ngFor="let flavor of resultsArray;" class="carded" tappable (click)="showInfo($event,flavor)" [ngClass]="flavor['FLAVOR PROFILE']">
    <ion-card-header>
      <strong>{{flavor["FLAVOR NAME"]}}</strong>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <p [class]="(flavor['FLAVOR PROFILE']=='White') ? 'White': ''">
          <strong>Name:</strong> {{flavor["PRODUCT NAME"]}}</p>
        <p [class]="(flavor['FLAVOR PROFILE']=='White') ? 'White': ''">
          <strong>Form:</strong> {{flavor.FORM}}</p>
        <p [class]="(flavor['FLAVOR PROFILE']=='White') ? 'White': ''">
          <strong>Descriptors:</strong> {{flavor.DESCRIPTORS}}</p>
        <p [class]="(flavor['FLAVOR PROFILE']=='White') ? 'White': ''">
          <strong>Profile:</strong> {{flavor['FLAVOR PROFILE']}}</p>
        <div *ngIf="flavor['FLAVOR PROFILE']=='White'">
              <br>
        </div>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>