page-fona-test2 {
.flexing{
    display: flex;
    //justify-content: space-evenly;
    flex-direction: row;
    align-items:center;
}

// .button-ios{
//     margin:auto;
// }

.button-md{
    margin:auto;
}
ion-searchbar{
    width:90vw !important;
}

ion-scroll{
    height:100%
}

.menu{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items:center;
    border-radius: 10px;
    z-index:999;
    position: fixed;
}

.label-md{
    margin:0;
}

.label-ios{
    margin:0;
}

.center{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items:center;
    
}

#shrink{
    width:100vw;
    border-radius:10px;
}

.noResult{
    background-color:snow;
    color: grey;


}

.empty{
    display: flex;
    height: 100%; /* Or whatever */
}

.emptyChild {
    // width: 100%;  /* Or whatever */
    // height: 100%; /* Or whatever */
    margin: auto;  /* Magic! */
  }

.fine{
    //background-color:blue;
}

.action-sheet-cancel{
    background:green !important;
}

.search_bar{
    display:flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items:center;
    background-color: white;
    width: 100%
}

.tags{
    font-size: 0.8em;
    //background-color: color($colors, primary);
}

.toggle{
    margin-bottom:8px;
}
.button-small-md{
height:1.6em;
}
.button-small-ios{
    height:1.6em;
}

ion-icon{
    font-size:2.0em;
}

.trans{
    background-color: white;
}
    .carded{
        border-radius:10px;
    }
    ion-card-header.card-header{
        color:white;
        font-size:1.5em;
    }
    
        .Berry{
            background-color:#D51269;
            color:white;
        }
    
        .Melon{
            background-color:#74BD4C;
            color:white;
        }
        
    .Sensate{
        background-color:#084B89;
        color:white;
    }
    .Brown{
        background-color:#563D0D;
        color:white;
    }
    .Mint{
        background-color:#74CDE2;
        color:white;
    }
    .Spice{
        background-color:#89060D;
        color:white;
    }
    .Citrus{
        background-color:#FAB231;
        color:white;
    }
    .Orchard{
        background-color:#C21734;
        color:white;
    }
    .Tolling{
        background-color:#7E4296;
        color:white;
    }
    .Dairy{
        background-color:#127BBF;
        color:white;
    }
    .Other{
        background-color:#6D6E71;
        color:white;
    }
    .Tropical{
        background-color:#F38231;
        color:white;
    }
    .White{
        background-color:white;
        color:white !important;
    }
    
    
    }
    