<!--
  Generated template for the FlavorInfoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header >

  <ion-navbar [color]="highlight">
    <ion-title   mode="ios"><span text-color="my-custom-color">{{flavor["FLAVOR NAME"]}}</span> </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div id="wrapper">
      <button style="text-align:center" [color]="highlight" item-left small ion-button (click)="dismiss()">Dismiss</button>
  </div>
    <div id="text_container">
  <p><strong>Product Name:</strong> {{flavor["PRODUCT NAME"]}}</p>
  <p><strong>Flavor Profile:</strong> {{flavor["FLAVOR PROFILE"]}} </p> 
  <p><strong>Form:</strong> {{flavor.FORM}}</p>
  <p><strong>Descriptors:</strong> {{flavor.DESCRIPTORS}}</p>
  <p><strong>FONA Product Code:</strong> {{flavor["FONA PRODUCT CODE"]}}</p>
  <p><strong>SAP Description:</strong> {{flavor["SAP DESCRIPTION"]}}</p>
  <p><strong>SAP #:</strong> {{flavor.SAP_num}}</p>
  <p><strong>Shipped To:</strong> {{flavor["SHIPPED TO"]}}</p>
  <p><strong>Last sold:</strong> {{flavor["LAST SOLD*"]}}</p>
</div>

</ion-content>