<!--
  Generated template for the SignUpPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Sign Up</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div class="formContainer">
    <form [formGroup]="todo" (ngSubmit)="submitted(todo.value)">
      <ion-item>
        <ion-label>Correo</ion-label>
        <ion-input type="text" formControlName="email_form" [(ngModel)]="email_var"></ion-input>
      </ion-item><br>
      <div class="alert" *ngIf="!todo.controls['email_form'].valid && todo.controls['email_form'].touched">Requiere un correo valido</div>
      <ion-item>
        <ion-label>Password</ion-label>
        <ion-input type="password" formControlName="password_form" [(ngModel)]="password_var"></ion-input>
      </ion-item><br>
      <div class="alert" *ngIf="!todo.controls['password_form'].valid && todo.controls['email_form'].touched">Contraseña deber ser más que 6 cáractares</div>
      <ion-item>
        <ion-label>Confirme Contraseña</ion-label>
        <ion-input type="password" formControlName="password2_form" [(ngModel)]="password2_var"></ion-input>
      </ion-item><br>
      <div class="button-container">
        <button ion-button type="submit" [disabled]="!todo.valid">Entrar</button>
      </div>
    </form>
  </div>
</ion-content>
