page-video4 {

  .wrapper {
    // display: -ms-flexbox;
    // display: -webkit-flex;
    display: flex;
  
    // -ms-flex-align: center;
    // -webkit-align-items: center;
    // -webkit-box-align: center;  
  
    align-items: center;
  }

  .debug{
    background: color($colors, light);
  }

  .videoplayer{
    display: block;
    width: 100%;
    height: auto   !important;
  }

  // #neon {
  //   color: rgb(255, 255, 255);
  //   //background-color: rgb(51, 51, 51);
  //   text-shadow: rgb(255, 255, 255) 0px 0px 5px, rgb(255, 255, 255) 0px 0px 10px, rgb(255, 255, 255) 0px 0px 15px, rgb(255, 45, 149) 0px 0px 20px, rgb(255, 45, 149) 0px 0px 30px, rgb(255, 45, 149) 0px 0px 40px, rgb(255, 45, 149) 0px 0px 50px, rgb(255, 45, 149) 0px 0px 75px;
  //   z-index:100}
  
  // .neon_container{
  //   display:flex;
  //   justify-content: center;
  //   background-color: rgb(51, 51, 51);
  //   color:rgb(51, 51, 51);
  // }

  .steps_table_container{
    border: 2px solid color($colors, primary);
    border-radius: 5px;
    height: 25vh;
    //margin: 10px 5px 10px 5px;
    margin-bottom:10px;
    text-align: left;
    

    th, td {
      padding: 5px;
      text-align: left;
    }
    table {
      margin:auto;
    }

    tr:nth-child(even) {
      background-color: color($colors, danger);
      color: color($colors, light);
    } //makes every other line the shown color
  }

  audio { width: 70vw; }

  .cam_button{
    padding: 10px;
  }

  .speed_button{
    padding: 0px 10px 0px 10px;
    color: color($colors, dark);
    font-size: 1.5em;
    background-color: color($colors, light);
    border-radius: 25px;
  }

  .center-simple{
    margin-left: auto;
    margin-right: auto;
    margin-top:10px;
    margin-bottom:0px;
    width: 95%;
  }

  .item-ios.item-block .item-inner{
    border-bottom:0px;
  }

  .video_container{
    margin-bottom: 10px;
  }

  .button_container{
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
    align-items: center;
  }

  .audio_container{
    background-color: transparent;
    display:flex;
    align-items: center;
    justify-content: space-around;
}

#audio_header{
  text-align: center;
  padding-bottom: 0px;
  margin-bottom:0px;
  font-size: 0.8em;
}

    // .mejs-controls {background-image: none !important;}


    // .sqs-audio-player {
    //     background-color: #b3b3b3 !important;
    //     background-image: linear-gradient(#eaeaea, #eaeaea) !important;
    //     background: -webkit-linear-gradient(#b3b3b3, #eaeaea) !important;
    //     border: 0px solid #b3b3b3 !important;
    //     border-radius: 0px 0px 0px 0px;
    //     color: #6B6B6B;
    //   }
    //   .audio-author {
    //     color: #707070 !important;
    //   }
    //   .audio-title {
    //     color: #ffffff !important;
    //   }
    //   .volume .bar.active {
    //     border-right-color: #36b3a8 !important;
    //   }
    //   .volume .bar {
    //     border-right-color: #b3b3b3 !important;
    //   }
    //   .progress {
    //     background: none repeat scroll 0 0 #707070 !important;
    //   }
    //   .controls {
    //     color: #707070 !important;
    //   }


      
}
