page-qr-instructor {
    .image{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }

    .center{
        text-align: center;
        font-size: 1.8em;
    }

    .monto{
        text-align: center;
        font-size: 1.1em;
        color:red;
    }
    .result{
        line-height: 70%;
    }

    input[type=number]:before {
        content: "$";
    }

    .instructions {
        margin-bottom: 5%;
        text-align:center;
    }
    
    .input{
        font-size: 2.0em;
        color: color($colors, danger);
        text-align:center;
    }

    p{
        margin:0px;
    }

}
