<!--
  Generated template for the QrInstructorPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Enviar</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <p class = "monto">Tu Monto Actual en la cuenta: {{account}}</p>
  <ion-card>
    <button ion-button full (click)="scanCode()">Escanear código a quien vas a pagarle</button>
  </ion-card>
  <!-- {{scannedCode}} -->

  <div *ngIf="result">
      <ion-card>
        <p>&nbsp;</p>
        <h3 class="instructions">Que cantidad quieres enviar a {{displayName}}?</h3>
        <!-- <h1>Que cantidad de dinero quieres enviar a {{displayName}}?</h1> -->
        <ion-card-content>
          <ion-input text-center type="number" min="0" inputmode="numeric" pattern="[0-9]*" title="Non-negative integral number" [(ngModel)]="amount"></ion-input>
        </ion-card-content>
      </ion-card>
      <!-- <ion-card>
        <ion-item>
          <ion-label floating>This payment will be for what date?</ion-label>
          <ion-select [(ngModel)]="selectedDate" (ionChange)="selectPeriod($event)" interface="action-sheet">
            <ion-option *ngFor="let period of options" value="{{period}}">{{period}}</ion-option>
          </ion-select>
        </ion-item>
        <h2>{{selectedDate}}</h2>
      </ion-card> -->
      <button ion-button full (click)="sendIt()">Enviar {{amount}} a {{displayName}}</button>
    </div>

  <div *ngIf="recipient">
    <img class="image" [src]="studentPhoto" *ngIf="studentPhoto" />
    <p> &nbsp; </p>
    <p>Enviar a: {{displayName}}</p>
    <p>Banco: {{banco}}</p>
    <p>Tipo de cuenta: {{tipo_cuenta}}</p>
    <p>Numero de cuenta: {{cuenta_Num}}</p>
    <p>RUT: {{rut}}</p>
    <P>Cuenta: 123456789</P>
    <p>Correo:{{email}}</p>
    <p>Fecha:{{date}}</p>
  </div>

