<!--
  Generated template for the SlideshowPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>An Overview</ion-title>
  </ion-navbar>
  <button outline small ion-button (click)="skip()" id="skip">{{ skipMsg }}</button>
</ion-header>


<ion-content padding>
    
  <ion-slides pager (ionSlideDidChange)="slideChanged()" (ionSlideDrag)="slideMoved()">

    <ion-slide>

      <div>
        <img class="pic" src="assets/imgs/searches.png">
      </div>
      <div>
        <h1>Welcome to Fona Friend!</h1>
        <p>Find the flavors that you need, when you need them.<br><br>
          Here are two proposed search methods: </p>
          <ul>
            <li><ion-icon name = "flask"></ion-icon> divides the search into two parts.</li><br>
            <li><ion-icon name = "color-palette"></ion-icon> does all searching on one page.</li> 
          </ul>
      </div>

    </ion-slide>

    <ion-slide>
      <div>
        <img class="pic" src="assets/imgs/toggle.png">
      </div>
      <div>
        <h2>Welcome to Fona Friend!</h2>
        <p><ion-icon name = "color-palette"></ion-icon> Search capabilities can be found by clicking on the 'Toggle Menu' button. </p>
      </div>
    </ion-slide>

    <ion-slide>
        <div>
            <img class="pic" src="assets/imgs/menu_fields.png">
          </div>
          <div>
            <p class="inline3" >The menu has fixed selectors and a descriptor text search.  Each field entry adds a deletable filter such as: <img class="inline1" src="assets/imgs/prof-berry.png">
            above the search.  Multiple descriptor searches can be created using <img class = "inline2" src="assets/imgs/+Filter.png"></p><p class="inline4" >Enjoy!</p>
          </div>
    </ion-slide>
  </ion-slides>
</ion-content>
