// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.home-bckgrd{
    background-image: url(../assets/imgs/bckgrd-dots.png);
    background-color: color($colors, primary);// #bc2126;
    background-size: cover;
    height: 100%;
}


@import url('https://fonts.googleapis.com/css?family=Raleway:300,700');

//@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Love+Ya+Like+A+Sister');

@import url('https://fonts.googleapis.com/css?family=Roboto');
// https://fonts.google.com/specimen/Indie+Flower?selection.family=Indie+Flower




ion-content, ion-header {
    //background-color: #EFEFEF !important;
    font-family:'Roboto';
    font-size: 1.3em;
}


.alertcss{
    .alert-head{
        color: color($colors, primary, base) !important; // button text color
        background-color: color($colors, secondary, base) !important;
    }
    p{
    font-size: 1.2em;
    margin:0px;
    }

    .image{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }
    // text color for basic alerts
    

    // alert modal page bg color. Warning this will remove the alert transparency
    //background-color: color($colors, dark, base); 

    button {
        color: color($colors, primary, base) !important; // button text color
        background-color: color($colors, secondary, base) !important;
            //button bg color
    }

    .alert-message {
        text-align: justify;
        color: color($colors, dark, base);
        font-size:1.0em;
    
    }

    .alert-wrapper {
        background-color: color($colors, third, base); // bg color of alert content
    }
}


