page-select {
.scrollArea{
    height:65vh;
    border-radius: 10px;
}
ion-label[fixed] {
    width: 50vw;
    min-width: 50vw;
}

.carded{
    border-radius:10px;
}
ion-card-header.card-header{
    color:white;
    font-size:1.5em;
}
.item-md p {
    font-size:1.2em !important;
}

.descriptors{
    overflow:wrap;
}

    .Berry{
        background-color:#D51269;
        color:white;
    }

    .Melon{
        background-color:#74BD4C;
        color:white;
    }
    
.Sensate{
    background-color:#084B89;
    color:white;
}
.Brown{
    background-color:#563D0D;
    color:white;
}
.Mint{
    background-color:#74CDE2;
    color:white;
}
.Spice{
    background-color:#89060D;
    color:white;
}
.Citrus{
    background-color:#FAB231;
    color:white;
}
.Orchard{
    background-color:#C21734;
    color:white;
}
.Tolling{
    background-color:#7E4296;
    color:white;
}
.Dairy{
    background-color:#127BBF;
    color:white;
}
.Other{
    background-color:#6D6E71;
    color:white;
}
.Tropical{
    background-color:#F38231;
    color:white;
}


}
