<!--
  Generated template for the SelectPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title mode="ios">Filter by Form and Profile</ion-title>
  </ion-navbar>

</ion-header>


<ion-content no-padding>
  <ion-item>
    <ion-label fixed>
      <p>Select Form</p>
    </ion-label>
    <ion-select [(ngModel)]="selectedForm" (ionChange)="selectForm($event)" interface="action-sheet">
      <ion-option *ngFor="let phys_form of phys_forms" value="{{phys_form}}">{{phys_form}}</ion-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label fixed>
      <p>Select Flavor Profile</p>
    </ion-label>
    <ion-select [(ngModel)]="selectedProfile" (ionChange)="selectProfile($event)" interface="action-sheet">
      <ion-option *ngFor="let profile of profiles" value="{{profile}}">{{profile}}</ion-option>
    </ion-select>

  </ion-item>
  <ion-content class="scrollArea">
      <ion-card *ngFor="let flavor of resultsArray;" class="carded" tappable (click)="showInfo($event,flavor)" [ngClass]="flavor['FLAVOR PROFILE']">
          <ion-card-header>
                  <strong>{{flavor["FLAVOR NAME"]}}</strong>
                </ion-card-header>
      
      
          <ion-card-content>
            <ion-item >
              <p><strong>Name:</strong> {{flavor["PRODUCT NAME"]}}</p>
              <p><strong>Form:</strong> {{flavor.FORM}}</p>
              <p text-wrap ><strong>Descriptors:</strong> {{flavor.DESCRIPTORS}}</p>
              <p><strong>Profile:</strong> {{flavor['FLAVOR PROFILE']}}</p>
              <!-- <p item-right>
                  <button ion-button full (click)="showInfo($event,user)">Info</button>
                </p> -->
            </ion-item>
          </ion-card-content>
        </ion-card>
  </ion-content>
  <div style="text-align: center;">
    <button ion-button (click)="gotoDescriptors()">Pass to Descriptors search</button>
  </div>
</ion-content>