<!--
  Generated template for the FonaTestPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>
      <div class="flexing">Descriptor Search
        <button ion-button (click)="reset()">Reset</button>
        <button ion-button (click)="addSearch()">Add</button>
      </div>
    </ion-title>
<span class = "tags" *ngFor="let search of addedSearches;" tappable (click)="eraseTag(search)"><ion-icon name="ios-close"></ion-icon>  {{search}} &nbsp;&nbsp;</span>

  </ion-navbar>
  <ion-searchbar spellcheck = "true" placeholder="search descriptors" [(ngModel)]="searchInput" block color="primary" [debounce]="500" (ionInput)="getItems($event)"></ion-searchbar>
</ion-header>


<ion-content no-padding>
  <ion-card *ngFor="let flavor of resultsArray;" class="carded" tappable (click)="showInfo($event,flavor)" [ngClass]="flavor['FLAVOR PROFILE']">
    <ion-card-header>
      <strong>{{flavor["FLAVOR NAME"]}}</strong>
    </ion-card-header>


    <ion-card-content>
      <ion-item>
        <p>
          <strong>Name:</strong> {{flavor["PRODUCT NAME"]}}</p>
        <p>
          <strong>Form:</strong> {{flavor.FORM}}</p>
        <p text-wrap>
          <strong>Descriptors:</strong> {{flavor.DESCRIPTORS}}</p>
        <p>
          <strong>Profile:</strong> {{flavor['FLAVOR PROFILE']}}</p>
        <!-- <p item-right>
                <button ion-button full (click)="showInfo($event,user)">Info</button>
              </p> -->
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>