<!--
  Generated template for the FileBrowserPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>FileBrowser</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <button ion-button (click)="writeCSV()">Write CSV</button>
  <button ion-button (click)="downloadMP4()">Download mp4</button>
  <button ion-button (click)="toggle()">Toggle Vid</button>
  <div *ngFor="let file of fileList">
    <p (click)="deletefile(file.name)">{{file.name}}</p>
  </div>
<div *ngIf="loaded">
  <video width="320" height="240" controls >
    <source [src]="videoURL" type="video/mp4">
  </video>
  {{videoURL}}
</div>

  <!-- <video controls="controls" preload="metadata"controlsList="nodownload" webkit-playsinline="true" playsinline="true" class = "center-simple videoplayer">
    <source [src]="videoURL" type="video/mp4" webkit-playsinline="true" playsinline="true">
  </video> -->
  
</ion-content>
