page-update-profile {

    ion-content{
        // background: url("../assets/imgs/curtain.png") no-repeat center center fixed; 
        // -webkit-background-size: cover;
        // -moz-background-size: cover;
        // background-size: cover;
        background:color($colors,third) !important;
        color:color($colors,secondary) !important;
    }

    .upper{
        margin-top: 20px;
    }

    .headline{
        margin-top:5%;
        //color:color($colors, light);
        text-align:center;
        //font-family: Arial, Helvetica, sans-serif;
        //-webkit-text-stroke: 1px beige;
    }

    #myInput {
        width: calc(100% - 10px);
        border: 0;
        border-radius: 0;
        background: transparent;
    }

    .grey{
        color: color($colors, greyed);
    }
    .normal{
        color: color($colors, dark);
    }

    .highlighted{
        color: color($colors, danger);
    }

    .ion-label{
        color:color($colors, danger);
    }


    p{
        color: color($colors, light);
        font-size: 1em;
        margin:0px;
    }

    .thisForm{
        margin-bottom: 20px;
        color:color($colors, dark);
        //-webkit-text-stroke: 1px black;
        font-size:1em;
        font-weight:bold;
        border-radius: 15px;
    }

    .bio{
        height:20%;
    }

    ion-input.hotfix{
        display: none;
    }

    .button_container{
        background:color($colors, light);
        text-align:center;
        border-radius: 15px;
        color: color($colors, dark);
        margin-bottom:5px;
    }

    .center{
        text-align: center;
    }
    .dark_text{
        color: color($colors, dark);
        margin:5px;
    }
    ion-row{
        margin:0px;
    }
    ion-col.col{
        padding: 0px;
    }

    .button_container2{
        //background:pink;
        margin-top: 20px;
        text-align:center;
    }


}
