<ion-header>

  <ion-navbar>
    <ion-title>Update Profile</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <div class="headline">
    <h1>Update your Profile</h1>
  </div>
  <form [formGroup]="todo1" (ngSubmit)="submitted()">

    <ion-item class="thisForm upper">
      <ion-label floating>First Name</ion-label>
      <ion-input type="text" formControlName="firstName_form" [(ngModel)]="firstName_var"></ion-input>
    </ion-item>

    <ion-item class="thisForm">
      <ion-label floating>Last Name</ion-label>
      <ion-input type="text" formControlName="lastName_form" [(ngModel)]="lastName_var"></ion-input>
    </ion-item>

    <ion-item class="thisForm">
      <ion-label floating>phone number</ion-label>
      <ion-input type="tel" formControlName="phone_form" [(ngModel)]="phone_var"></ion-input>
    </ion-item>

    <div class="button_container2">
      <button ion-button color="secondary" type="submit">Update your profile</button>
    </div>

  </form>
</ion-content>
